<app-topbar></app-topbar>
<div class="chat-container">
  <h1>Company Analysis</h1>
  
  <div class="input-container">
    <input 
      [(ngModel)]="company_name"
      placeholder="Enter company name(s)"
      class="chat-input"
    />
  </div>

  <div class="input-container" *ngIf="company_name">
    <input
      [(ngModel)]="industry"
      placeholder="Enter the industry"
      class="chat-input"
    />
  </div>

  <div *ngIf="industry" class="checkbox-container">
    <h2>Select Analysis Topics:</h2>
    <div class="checkbox-grid">
      <label *ngFor="let prompt of promptOptions">
        <input type="checkbox" [(ngModel)]="selectedPrompts" [value]="prompt" />
        {{ prompt }}
      </label>
    </div>
  </div>

  <button *ngIf="industry" class="submit-button" (click)="sendUserData()">
    Submit
  </button>
</div>